.navstyle, navstyle:active{
background-color:black;
color: white;
font-weight: 500;
}

/* Add this to your CSS or SCSS file */
.custom-link, .custom-link:hover {
    /* border: 1px solid ; */
    background-color: blue;
    padding: 5px 10px;
    
    /* align-items: right; */
    color: antiquewhite;
    border-radius: 19px;
    
  }
  .top-div {
    position: fixed; /* Fixed position */
    top: 25px; /* Positioned at the top */
    width: 100%; /* Full width */
    
    padding: 10px; /* Add padding to the top div if needed */
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the internal elements */
.center-container .faq-container {
  max-width: 600px; /* Adjust the maximum width as needed */
  text-align: left; /* Align text to the left within the container */
}

